

@font-face {
    font-family: "IntroRegular";
    src: url("../fonts/IntroRegular/IntroRegular.eot");
    src: url("../fonts/IntroRegular/IntroRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/IntroRegular/IntroRegular.woff") format("woff"),
    url("../fonts/IntroRegular/IntroRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}
@font-face {
    font-family:"PFDinDisplay";
    src: url("../fonts/PFDinDisplay.eot");
    src: url("../fonts/PFDinDisplay.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFDinDisplay.woff") format("woff"),
    url("../fonts/PFDinDisplay.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
