header, nav, section, article, aside, footer, time {
    display: block;
}

/* ADDS */

html * {
    box-sizing: border-box;
}
.center{
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0; /*font-weight:bold; */
    color: #000;
}

p {
    margin: 0;
    padding: 0;
}

span {
    padding: 0;
}
ul{
    margin:0;
    padding:0;
}

.resize {
    position: relative;
    margin: 0 auto;
    width: 960px;

}

.clear {
    clear: both;
    height: 0;
    overflow:hidden
}
/* ADDS END */
body {
    font:normal 16px/1.4em Arial,IntroRegular,PFDinDisplay, sans-serif;

}

/* Logo */

.logo h1 {
    font-weight: bold;
    line-height: 64px;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
}
.logo-text{
    opacity: 0.7;
    color: #322a2a;
    font-family: PFDinDisplay;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}
.ye {
    color: #f4cf23;
    font-size: 31px;
}

.bl {
    color: #0193e9;
    font-size: 31px;
}

/* Logo end */
main {
    background: url("../images/pattern_bg.png") repeat-x left top;
}

/* Slider__bloc left */
.left-block {
    float: left;;
    width: 75%;
    padding-left: 81px;
    background-color: white;
    border: 3px solid #f4cf23;
}

.slider {
    float: right;
}

.left-block h1 {
    display: block;
    color: #0193e9;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 45px 0 14px 0;
}

.left-block p {
    display: block;
    color: #676767;
    font-size: 12px;
    padding-bottom: 23px;
}

.left-block span {
    display: block;
    padding: 3px 0 20px 22px;
    color: #2e353a;
    font-size: 22px;
    font-weight: bold;
    background: url("../images/prise.png") no-repeat;
}

.left-block a {
    display: inline-block;
    color: #0193e9;
    font-family: Georgia sans-serif;
    font-size: 14px;
    font-style: italic;
}

.left-block b {
    display: inline-block;
    color: #0087e3;
    font-size: 14px;
    line-height: 46px;
    width: 47px;
    height: 47px;
    border-radius: 30px;
    background: #f4e43c 0 0;
    text-align: center;
    margin-left: 17px;
}

/* LEFT block END */
/* Right BLOCK */
.right-block{
    float: right;
    width:24%;
    margin: 0 0 6px 0;
    background-color: white;
    border: 3px solid #0193e9;
}
.right-block a{
    display: block;
    color: #0193e9;
    font-size: 14px;
    line-height: 18px;
    padding: 3px 0 0 15px;
}
.right-block img{
    float: right;
}
.right-block p{
    background: url("../images/prise.png") no-repeat 10px 15px;
    color: #2e353a;
    font-size: 18px;
    font-weight: bold;
    padding: 17px 0 0 35px;

}
.right-block span{
    font-size: 14px;
    padding:0 0 0 0;
}

/* CONTENT */

.header__content{
    padding-top: 51px;
    text-align: center;
    color: #0193e9;
    font-family: IntroRegular;
    font-size: 22px;
    text-transform: uppercase;
}
.social__rating{
    display: inline-block;

}
.social__rating li{
    float: left;
    list-style-type: none;
    padding: 26px 0 0 15px;

}

/* CONTENT BLOCS */
.content-bloc{
    display: inline-block;
}
.central__bloc img{
    display: inline-block;
    float: left;
}
.central__bloc p{
    float: left;
    height: 14px;
    color: #676767;
    font-family: Georgia ;
    font-size: 14px;
    font-style: italic;
    line-height: 32px;
}
.central__bloc b{
    float: left;
    color: #676767;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
}
.central__bloc span{
    float: right;
    padding: 8px 0 0 16px;
    color: #676767;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}